<p *ngIf="!users"><em>Loading...</em></p>

<a [routerLink]="['add']" class="btn btn-primary">Add user</a>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th>ID</th>
      <th>login</th>
      <th>role</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.login }}</td>
      <td>{{ user.role }}</td>
      <td><a [routerLink]="['edit', user.id]" class="btn btn-primary btn-sm">Edit</a></td>
      <td><button class="btn btn-danger btn-sm" (click)="onDelete(user.id)">Delete</button></td>
    </tr>
  </tbody>
</table>