<h1>Add customer</h1>

<p>{{ message | async }}</p>

<form #form="ngForm">

  <div class="form-group">
    <label for="login">Firstname</label>
    <input type="text" class="form-control" ngModel name="firstname" id="firstname" placeholder="enter firstname">
  </div>

  <div class="form-group">
    <label for="login">Lastname</label>
    <input type="text" class="form-control" ngModel name="lastname" id="lastname" placeholder="enter lastname">
  </div>

  <div class="form-group">
    <label for="login">Birthdate</label>
    <input type="date" class="form-control" ngModel name="birthdate" id="birthdate" placeholder="enter birthdate">
  </div>

  <div class="form-group">
    <label for="price">Phone</label>
    <input type="text" class="form-control" ngModel name="phone" id="phone" placeholder="enter phone number">
  </div>

  <div class="form-group">
    <label for="login">Email</label>
    <input type="text" class="form-control" ngModel name="email" id="email" placeholder="enter your email">
  </div>

  <div class="form-group">
    <label for="login">Street</label>
    <input type="text" class="form-control" ngModel name="street" id="street" placeholder="enter your street">
  </div>

  <div class="form-group">
    <label for="login">Zipcode</label>
    <input type="text" class="form-control" ngModel name="zipcode" id="zipcode" placeholder="enter your zipcode">
  </div>

  <div class="form-group">
    <label for="login">City</label>
    <input type="text" class="form-control" ngModel name="city" id="city" placeholder="enter your city">
  </div>

  <div class="form-group">
    <label for="login">Country</label>
    <input type="text" class="form-control" ngModel name="country" id="country" placeholder="enter your country">
  </div>

  <button class="btn btn-primary" (click)="onSubmit(form)">Add</button>
</form>
<br />
<a routerLink="/customers" class="btn btn-primary">Back</a>
