<p>{{ message | async }}</p>

<form #form="ngForm" class="col-md-4 mb-3">
    <div class="form-group">
        <label for="id">Id</label>
        <input type="text" class="form-control" [ngModel]="user.id" name="id" id="id" aria-describedby="idHelp" disabled>
    </div>
    <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" [ngModel]="user.login" name="login" id="login" aria-describedby="loginHelp"
            placeholder="enter login">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [ngModel]="user.password" name="password" id="password" placeholder="password">
    </div>
    <div class="form-group">
        <label for="role">Select role</label>
        <select class="form-control" [ngModel]="user.role" name="role" id="role">
          <option role="Admin">Admin</option>
          <option value="Employee">Employee</option>
        </select>
      </div>
    <button class="btn btn-primary" (click)="onSubmit(form)">Edit</button>
</form>
<br>
<a (click)="back()" class="btn btn-primary">Back</a>