<p>{{ message | async }}</p>

<form #form="ngForm" class="col-md-4 mb-3">

  <div class="form-group">
    <label for="id">Id</label>
    <input type="text" class="form-control" [ngModel]="room.id" name="id" id="id" aria-describedby="idHelp" disabled>
  </div>

  <div class="form-group">
    <label for="number">Number</label>
    <input type="number" class="form-control" [ngModel]="room.number" name="number" id="number" placeholder="enter number">
  </div>

  <div class="form-group">
    <label for="numberOfSeats">Number of Seat</label>
    <input type="number" class="form-control" [ngModel]="room.numberOfSeats" name="numberOfSeats" id="numberOfSeats" placeholder="enter seats number">
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <div class="form-inline">
      <input type="number" class="form-control" [ngModel]="room.price" name="price" id="price" placeholder="enter price">
      <label class="align-middle ml-3">PLN</label>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" [ngModel]="room.description" name="description" id="description" placeholder="enter description"></textarea>
  </div>

  <button class="btn btn-primary" (click)="onSubmit(form)">Edit</button>
</form>
<br>
<a (click)="back()" class="btn btn-primary">Back</a>