<h1>Add reservation</h1>

<p>{{ message | async }}</p>

<div class="form-group">
  <label for="startDate">Start date</label>
  <label class="form-control" id="startDate">{{ customer.firstname + " " +  customer.lastname }}</label>
</div>

<form #form="ngForm">
  <div class="form-group">
    <label for="startDate">Start date</label>
    <input type="date" class="form-control" [ngModel]="startDate" (ngModelChange)="onChangeStartDate($event)" name="startDate" id="startDate">
  </div>
  <div class="form-group">
    <label for="endDate">End date</label>
    <input type="date" class="form-control" [ngModel]="endDate" (ngModelChange)="onChangeEndDate($event)" name="endDate" id="endDate">
  </div>

  <p *ngIf="!emptyRooms"><em>There are currently no rooms available</em></p>

  <br />
  <br />

  <div *ngIf="emptyRooms">
    <h3> Free rooms </h3>
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Room number</th>
          <th>Seats number</th>
          <th>Price for day</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of emptyRooms">
          <td>{{ room.number }}</td>
          <td>{{ room.numberOfSeats }}</td>
          <td>{{ room.price }}</td>
          <td><button class="btn btn-primary" (click)="onAdd(room.id)">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />
  <br />

  <p *ngIf="selectedRooms.length <= 0"><em></em></p>

  <div *ngIf="selectedRooms.length > 0">
    <h3>Selected rooms:</h3>
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Room number</th>
          <th>Seats number</th>
          <th>Price for day</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of selectedRooms">
          <td>{{ room.number }}</td>
          <td>{{ room.numberOfSeats }}</td>
          <td>{{ room.price }}</td>
          <td><button class="btn btn-primary" (click)="onRemove(room.id)">Remove</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <br />
  <br />

  <button class="btn btn-success btn-lg" (click)="addReservation()"> Add reservation</button>
</form>

<br />
<br />
<br />
<br />

