<p *ngIf="!customers"><em>Loading...</em></p>

<a [routerLink]="['add']" class="btn btn-primary">Add customer</a>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="customers">
  <thead>
    <tr>
      <th>ID</th>
      <th>firstname</th>
      <th>lastname</th>
      <th>birthdate</th>
      <th>phone</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.firstname }}</td>
      <td>{{ customer.lastname }}</td>
      <td>{{ customer.birthdate | date:'yyyy-MM-dd'}}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.address.street }}</td>
      <td><a [routerLink]="['/reservations/add', customer.id]" class="btn btn-primary">Add reservation</a></td>
      <td><a [routerLink]="['edit', customer.id]" class="btn btn-primary">Edit</a></td>
      <td><button class="btn btn-primary" (click)="onDelete(customer.id)">Delete</button></td>
    </tr>
  </tbody>
</table>
